<button type="button" class="btn btn-sm btn-danger table-button" data-toggle="modal" (click)="open(deleteModal)"><fa-icon [icon]="faTimes"></fa-icon></button>

<!-- Delete Modal -->
<ng-template #deleteModal let-modal>
    <div class="modal-header">
       <h5 class="modal-title" id="deleteModalLabel">Delete Song</h5>
       <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
         <span aria-hidden="true">&times;</span>
       </button>
    </div>
    <div class="modal-body">
       <p>Are you sure you want to delete this song: <span class="text-primary">{{song.title}}</span>?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss('No delete')">Cancel</button>
      <button type="button" class="btn btn-danger" (click)="modal.close('Yes click')">Delete</button>
    </div>
</ng-template>
