<div class="headerBar">
  <h1> {{title}} </h1>
</div>



<div class="container-fluid">

  <!--
    Todo List Controls
  -->
  <div class="row">
      <app-alerts [newAlert]="addAlert"></app-alerts>
<!--
      <div class="col col-lg-6 col-md-6 col-sm-6 justify-content-center align-self-center text-center">
        <div class="custom-slider">
          <ngx-slider [(value)]="minVal" [(highValue)]="maxVal" [options]="sliderOptions" (userChangeEnd)="filter()" (valueChange)="doFilter()" (highValueChange)="doFilter()"></ngx-slider>
        </div>
        <p>Filter todos by release year</p>
      </div> -->

      <div class="col col-lg-6 col-md-6 col-sm-6 justify-content-center align-self-center">
        <add-modal (addTodo)="addTodo($event)"></add-modal>
        <!-- <button type="button" class="btn btn-secondary float-right" (click)="saveList()">Save List</button> -->
      </div>
  </div>

  <hr/>

  <!--
    Todo List Table
  -->
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let todo">
        <!-- <update-modal [todo]="todo" (updateTodo)="updateTodo($event)"></update-modal>
        <delete-modal [todo]="todo" (deleteTodo)="deleteTodo($event)"></delete-modal> -->
      </td>
    </ng-container>

    <ng-container matColumnDef="what">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>What</th>
      <td mat-cell *matCellDef="let todo"> {{todo.what}}</td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
      <td mat-cell *matCellDef="let todo"> {{todo.category}} </td>
    </ng-container>

    <ng-container matColumnDef="who">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Whomst</th>
      <td mat-cell *matCellDef="let todo"> {{todo.who}} </td>
    </ng-container>

    <ng-container matColumnDef="whence">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Whence</th>
      <td mat-cell *matCellDef="let todo"> {{todo.whence | date: 'MM/dd/yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="done">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Done?</th>
      <td mat-cell *matCellDef="let todo"> {{todo.done}}
        <button type="button" class="btn btn-sm btn-primary table-button" data-toggle="modal" (click)="toggleDone(todo)">^</button>
      </td>

      <!-- (toggleDone)="toggleDone($event)" -->
    </ng-container>

    <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Created</th>
      <td mat-cell *matCellDef="let todo"> {{todo.created | date: 'MM/dd/yyyy'}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="todoAttributes"></tr>
    <tr mat-row *matRowDef="let row; columns: todoAttributes;"></tr>
  </table>

</div>
