:host {
  font-family: "museo-sans", Sans-Serif;
  font-size: 14px;
  color: #404041;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.headerBar {
  display: block;
  position: relative;
  top: 0px;
  height: auto;
  padding: 20px;
  width: 100%;
  text-align: center;
  background-color: #404041;
  color: white;
}


.container-fluid {
  margin: 32px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}
.mat-cell {
  font-size: 12px;
}
.mat-column-title {
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.mat-column-artist {
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.mat-column-price {
  flex: 0 0 60px;
  width: 60px;
}
.mat-column-actions {
  flex: 0 0 100px;
  width: 100px;
  text-align: center;
}

.mat-row:nth-child(odd){
    background-color: #ebede3;
}

.mat-row:nth-child(even){
    background-color:#ffffff;
}



footer {
  background-color: #3a3a3a;
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
}

footer a {
  display: flex;
  align-items: center;
}
