<button type="button" class="btn btn-primary float-right" data-toggle="modal" (click)="open(addModal)">TODO</button>

<!-- Add Modal -->
<ng-template #addModal let-modal>
    <div class="modal-header">
       <h5 class="modal-title" id="editModalLabel">Add a new Todo</h5>
       <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
         <span aria-hidden="true">&times;</span>
       </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="todoForm">
        <input type="hidden" name="id" class="form-control" formControlName="id" id="id" placeholder="id">

        <div class="form-group">
          <label for="what">What</label>
          <input type="text"name="what" class="form-control" formControlName="what" id="what" aria-describedby="what" placeholder="THING" required>
          <span class="text-danger"
              *ngIf="(todoFormControl.what.touched && todoFormControl.what.errors?.required)">
              What are you doing??
          </span>
          <span class="text-danger"
              *ngIf="(todoFormControl.what.touched && todoFormControl.what.errors?.maxlength)">
              Max 255 characters - we pay by the pixel here!
          </span>
        </div>

        <div class="form-group">
          <label for="who">Whomst</label>
          <input type="text" name="who" class="form-control" formControlName="who" id="who" placeholder="PERSON">
          <span class="text-danger"
              *ngIf="(todoFormControl.who.touched && todoFormControl.who.errors?.required)">
              WHOMST decrees it thus?
          </span>
          <span class="text-danger"
              *ngIf="(todoFormControl.who.touched && todoFormControl.who.errors?.maxlength)">
              Max 100 characters - if your name is longer than that you're just silly.
          </span>
        </div>

        <div class="form-group">
          <label for="whence">Whence</label>
          <input type="date" name="whence" class="form-control" formControlName="whence" id="whence" placeholder="01/01/2022">
          <span class="text-danger"
              *ngIf="(todoFormControl.whence.touched && todoFormControl.whence.hasError('invalidDate'))">
              Unless this happens infinitely, please specify whence
          </span>
        </div>

        <div class="form-group">
          <label for="category">Category</label>
          <input type="text" name="category" class="form-control" formControlName="category" id="category" placeholder="CLASSIFICATION">
          <span class="text-danger"
              *ngIf="(todoFormControl.category.touched && todoFormControl.category.errors?.required)">
              You want us to do WHAT? What even IS that?
          </span>
          <span class="text-danger"
              *ngIf="(todoFormControl.category.touched && todoFormControl.category.errors?.maxlength)">
              Max 100 characters - BE MORE CONCISE, SPIT IT OUT.
          </span>
        </div>

        <div class="form-group">
          <label for="done">Done?</label>
          <input type="text" name="done" class="form-control" formControlName="done" id="done" placeholder="N" value="N">
          <span class="text-danger"
              *ngIf="(todoFormControl.done.touched && todoFormControl.done.errors?.required)">
              Don't leave us in limbo like that, schrodinger.
          </span>
          <span class="text-danger"
              *ngIf="(todoFormControl.done.touched && todoFormControl.done.errors?.maxlength)">
              It only takes one character to put Y or N you weasel!
          </span>
          <span class="text-danger"
              *ngIf="(todoFormControl.done.touched && todoFormControl.done.hasError('invalidYOrN'))">
              Y or N pretty please
          </span>
        </div>


      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss('No add')">Fugeddaboutit</button>
      <button type="button" class="btn btn-primary" (click)="modal.close('Yes click')" [disabled]="!todoForm.valid">AND SO WE SHALL</button>
    </div>
</ng-template>
