<button type="button" class="btn btn-sm btn-primary table-button" data-toggle="modal" (click)="toggleDone()"><fa-icon [icon]="faEdit"></fa-icon></button>

<!-- Edit Modal -->
<!-- <ng-template #doneModal let-modal>
    <div class="modal-header">
       <h5 class="modal-title" id="doneModalLabel">Edit {{song.title}}</h5>
       <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
         <span aria-hidden="true">&times;</span>
       </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="songForm">
        <input type="hidden" name="id" class="form-control" formControlName="id" id="id" placeholder="id">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text"name="title" class="form-control" formControlName="title" id="title" aria-describedby="title" placeholder="Title" required>
          <span class="text-danger"
              *ngIf="(songFormControl.title.touched && songFormControl.title.errors?.required)">
              Song Title is required
          </span>
        </div>
        <div class="form-group">
          <label for="artist">Artist</label>
          <input type="text" name="artist" class="form-control" formControlName="artist" id="artist" placeholder="Artist">
          <span class="text-danger"
              *ngIf="(songFormControl.artist.touched && songFormControl.artist.errors?.required)">
              Artist is required
          </span>
        </div>
        <div class="form-group">
          <label for="date">Release Date</label>
          <input type="date" name="date" class="form-control" formControlName="release_date" id="date" placeholder="01/01/2001">
          <span class="text-danger"
              *ngIf="(songFormControl.release_date.touched && songFormControl.release_date.hasError('invalidDate'))">
              A valid date is required
          </span>
        </div>
        <div class="form-group">
          <label for="price">Price</label>
          <input type="number" name="price" class="form-control" formControlName="price" id="price" placeholder="Price">
          <span class="text-danger"
              *ngIf="(songFormControl.price.touched && songFormControl.price.errors?.required)">
              Price is required
          </span>
          <span class="text-danger"
              *ngIf="(songFormControl.price.touched && songFormControl.price.errors?.min)">
              Price cannot be less than 0
          </span>
          <span class="text-danger"
              *ngIf="(songFormControl.price.touched && songFormControl.price.errors?.max)">
              Price cannot be more than 1,000,000
          </span>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss('No update')">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="modal.close('Yes click')" [disabled]="!songForm.valid">Submit</button>
    </div>
</ng-template> -->
