/* You can add global styles to this file, and also import other style files */

/*
PERA styles

greens
darkest green   #006600
dark green      #009200
medium green    #00CD00
light green     #94C947  (text on grey)
lightest green #ebede3

teal            #00988E
yellow          #D7DF17
darkest grey    #404041 (text on white)
dark grey       #3a3a3a
light grey      #adadad


font-family "museo-sans", Sans-Serif
*/

html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "museo-sans", sans-serif;
  min-width: fit-content;
}

.btn {
  margin: 2px;
  font-family: "open-sans-condensed",sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 0px;
}
.btn-primary,
 .btn-primary:active,.btn-primary.active,
 .btn-primary:focus,.btn-primary.focus,
 .btn-primary:visited{
  background-color: #2889a6 !important;
  border-color: #2889a6 !important;
  opacity: 100%;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;

}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #2889a6 !important;
  border-color: #2889a6 !important;
  box-shadow: none !important;
  opacity: 80%;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}
.btn-primary:disabled {
  pointer-events: none;
}

.btn-secondary,
 .btn-secondary:active,.btn-secondary.active,
 .btn-secondary:focus,.btn-secondary.focus,
 .btn-secondary:visited,
 .btn-secondary:disabled,
 .btn-secondary:active:focus {
  background-color: #87be3d !important;
  border-color: #87be3d !important;
  opacity: 100%;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;

}
.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #87be3d !important;
  border-color: #87be3d !important;
  box-shadow: none !important;
  opacity: 80%;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.table-button {
  width: 30px;
  height: 30px;
}

.cdk-global-overlay-wrapper, .cdk-overlay-container {
   z-index: 99999 !important;
}


.custom-slider .ngx-slider .ngx-slider-bar {
  background: #94C947;
  height: 2px;
}
.custom-slider .ngx-slider .ngx-slider-selection {
  background: #009200;
}

.custom-slider .ngx-slider .ngx-slider-pointer {
  width: 8px;
  height: 20px;
  top: -10px;
  background-color: #006600;
}

.custom-slider .ngx-slider .ngx-slider-pointer:after {
  display: none;
}

.custom-slider .ngx-slider .ngx-slider-bubble {
  bottom: 14px;
  font-weight: bold;
}

.custom-slider .ngx-slider .ngx-slider-limit {
  font-weight: normal;
  color: #404041;
}

.custom-slider .ngx-slider .ngx-slider-tick {
  width: 2px;
  height: 10px;
  margin-left: 4px;
  border-radius: 0;
  background: #94C947;
  top: -1px;
}

.custom-slider .ngx-slider .ngx-slider-tick.ngx-slider-selected {
  background: #009200;
}
